.heading {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;

}

.heading {
 

  .content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    max-width: 600px;
    top: 25%;
    left: 10%;
    opacity: 0;


    & h2 {
      font-size: 50px;
      line-height: 60px;
    }

    & p {
      font-size: 18px;
      line-height: 25px;
    }

  }

  &:nth-child(even)>.content {
    left: unset;
    right: 10%;
    text-align: right;
  }
}


.content:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 70px 80px rgba(0, 0, 0, 0.7);
}