.heading {
  /* opacity: 0; */
  height: 100vh;
  /* position: absolute; */
  /* opacity: 0; */
  scroll-snap-align: start;
}


.content {
  color: white;

}

.head {
  scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
