.App {
  text-align: center;
}

.page-container {
  /* position: absolute; */
      /* overflow: auto; */
    /* height: 100%; */
   
}
.model-container {
  
  /* scroll-snap-stop: always; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
}


@media(min-width: 768px)  {
  .model-container {
    height: 100vh;
  }
}