html,
body,
#root
{
    /* position: fixed; */
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    scroll-snap-points-y: repeat(100vh);
      scroll-snap-type: y mandatory;
    /* overflow: hidden;
    height: 100vh; */
    
}

h1 {
  margin: 0px;
}